#sendInfoButton {
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: #5D5D5D;
    border-color: #414141;
}
#sendInfoButton:hover {
    background-color: #888888;
    border-color: #5D5D5D;
}
#sendInfoError {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 71, 71);
    padding: 10px 15px;
    border-radius: 20px;
    width: fit-content;
    margin: auto;
    margin-top: 10px
}